.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  color: black;
  padding: 2rem;
  max-width: 400px;
  width: 90%;
  text-align: center;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-danger {
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary {
  background: #bdc3c7;
  color: #000;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-danger:hover {
  background: #a93226;
}

.btn-secondary:hover {
  background: #a6acaf;
}
