/* CONTACT FORM */

#form-section {
  display: grid;
  margin: 3%;
  /* grid-template-columns: repeat(auto-fill, minmax(610px, 1fr)); */
  /* grid-template-rows: 1fr; */
}

#payment-form {
  /* display: grid; */
  margin: 5% auto 0 auto;
  background-color: #83706238;
  padding: 30px;
  border-radius: 5px;
  width: 70%;
  /* justify-content: center;
  align-items: center; */
}

.reservation-wrap {
  margin: 5% 20%;
  display: grid;
  background: #d5c9c038;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 40px;
  border-radius: 5px;
}

.re-button {
  background-color: #6f5e53;
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

.re-button:hover {
  background-color: #7e6e64c4;
  cursor: pointer;
}

.re-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}

#payment-form input {
  font-size: larger;
  padding: 6px;
  border-radius: 4px;
  border: solid 1px rgb(182, 179, 179);
  /* border: solid 1px rgb(233, 231, 231); */
}

#name,
#address,
#phone,
#discount_code,
#email {
  font-family: "Raleway", sans-serif;
  width: 100%;
}

/* #reservation input, */
#payment-form label {
  width: 100%;
}

@media (max-width: 646px) {
  .reservation-wrap {
    margin: 5% 2%;
  }
}

@media (max-width: 540px) {
  #payment-form {
    width: 100%;
  }
}
